__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-selfcheck.json
.egg
.eggs
*.egg-info/
.installed.cfg
*.egg-link
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
var/
sdist/
develop-eggs/
bin/
lib/
lib64/
share/
node_modules/
typings/
.git
.mypy_cache
.pytest_cache
.coverage
htmlcov
.nyc_output
coverage/
.husky/
.vscode/
.idea/
.DS_Store
README.md
*.md
.gitignore
.autoenv_update
auto.sh
start.bat