# Redis 配置
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
REDIS_TASK_TTL=86400

# 其他配置
MAX_FILE_SIZE=524288000
DOWNLOAD_TIMEOUT=120
FILE_SERVER_URL=http://127.0.0.1:10103
UPLOAD_USERNAME=robot-manage
UPLOAD_PASSWORD=123456